#Pending-color {
  color: #f79191;
}

#Approved-color {
  color: #ebc478;
}

#Processing-color {
  color: #f7c491;
}

#Printed-color {
  color: #afaaf9;
}

#Packaged-color {
  color: #f7e591;
}

#Held-color {
  color: #e0f791;
}

#Processed-color {
  color: #bff791;
}

#Complete-color {
  color: #a2f791;
}

#Installed-color {
  color: #91f7a1;
}

#Dispatched-color {
  color: #91f7cd;
}

#Delivered-color {
  color: #91f7f4;
}

#Urgent-color {
  color: #91def7;
}

#Declined-color {
  color: #91cbf7;
}

#Removed-color {
  color: #91aef7;
}

#Booked-color {
  color: #9193f7;
}

#Released-color {
  color: #ab91f7;
}

#Approved-color {
  color: #c491f7;
}

#Sent-color {
  color: #e191f7;
}

#Rejected-color {
  color: #f791f1;
}

#Cancelled-color {
  color: #f791cd;
}


#Awaiting-color {
  color: #f791b5;
}

